html {
  background-color: lightblue;
}

button {
  color: -internal-light-dark-color(buttontext, rgb(170, 170, 170));
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 5px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: -internal-light-dark-color(
    rgb(239, 239, 239),
    rgb(74, 74, 74)
  );
  box-sizing: border-box;
  margin: 0em;
  font: 400 13.3333px "Source Sans Pro", sans-serif;
  padding: 1px 10px;
  border-width: 0px;
  border-style: outset;
  background-color: blanchedalmond;
  border-image: initial;
  border-radius: 50px;
  font-size: 25px;
}

.row {
  width: 100%;
  height: auto;
}
.head {
  width: 100%;
  height: 50px;
  background-color: blanchedalmond;
  font-family: "Source Sans Pro", sans-serif;
}

.colum {
  width: 50%;
  height: auto;
  float: left;
}

.acloum {
  width: 50%;
  height: 650px;
  float: right;
  position: fixed;
  left: 50%;
  text-align: center;
  font: 400 13.3333px "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 40px;
}
.bcloum {
  background-color: lightblue;
  margin: auto;
  width: 50%;
  height: 650px;
  float: left;
  position: fixed;
}

.text {
  text-align: right;
}

.container {
  width: 100%;
  height: 700px;
  background-color: lightblue;
}

.buttondesign1 {
  color: -internal-light-dark-color(buttontext, rgb(170, 170, 170));
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 5px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: -internal-light-dark-color(
    rgb(239, 239, 239),
    rgb(74, 74, 74)
  );
  box-sizing: border-box;
  margin: 0em;
  font: 400 13.3333px "Source Sans Pro", sans-serif;
  padding: 1px 6px;
  border-width: 0px;
  border-style: outset;
  background-color: transparent;
  border-image: initial;
  border-radius: 50px;
  font-size: 25px;
}

.homebutton {
  text-align: center;
}

#questions {
  /* background-color: lightpink; */
  height: 100%;
}

.homecontainer {
  padding-top: 25%;
  font-family: "Source Sans Pro", sans-serif;
}

.hometitle {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}

.homenote {
  text-align: center;
  font-size: 25px;
  padding: 20px;
  line-height: 1.5em;
}

.Que {
  padding-top: 25%;
  display: none;
  font-size: 30px;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
}

.Quebox {
  width: 25%;
  margin-left: 25%;
  height: 100%;
}

#start {
  color: -internal-light-dark-color(buttontext, rgb(170, 170, 170));
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 5px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: -internal-light-dark-color(
    rgb(239, 239, 239),
    rgb(74, 74, 74)
  );
  box-sizing: border-box;
  margin: 0em;
  font: 400 13.3333px "Source Sans Pro", sans-serif;
  padding: 1px 10px;
  border-width: 0px;
  border-style: outset;
  background-color: blanchedalmond;
  border-image: initial;
  border-radius: 50px;
  font-size: 25px;
}

.line {
  width: auto;
  margin-left: 20%;
  float: left;
  line-height: 2em;
}

.inputinterface {
  font-family: "Source Sans Pro", sans-serif;
  display: none;
  margin: auto;
  width: 70%;
  height: 650px;
  font-size: 30px;
}

#input-firstline {
  font-weight: 900;
  text-align: center;
  font-size: 30px;
  margin-top: 10%;
}

input {
  height: 25px;
  width: 50%;
  padding: 5px;
  margin-top: 0px;
  font-size: 30px;
  border: none;
}

#initials {
  font-size: 30px;
}

.buttondesign2 {
  color: -internal-light-dark-color(buttontext, rgb(170, 170, 170));
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 5px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: -internal-light-dark-color(
    rgb(239, 239, 239),
    rgb(74, 74, 74)
  );
  box-sizing: border-box;
  margin: 0em;
  font: 400 13.3333px "Source Sans Pro", sans-serif;
  padding: 1px 10px;
  border-width: 0px;
  border-style: outset;
  background-color: blanchedalmond;
  border-image: initial;
  border-radius: 50px;
  font-size: 25px;
}

#highscoresinterface {
  display: none;
  font-size: 30px;
  font-family: "Source Sans Pro", sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
  background-color: white;
}

li {
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  background-color: #ff5d88;
  color: white;
  font-size: 1.5em;
  line-height: 1.5;
}

.pointli {
  font-size: 30px;
  background-color: lightblue;
}

li:before {
  content: "\200B";
  position: absolute;
}

li::after {
  content: " ";
  display: block;
  clear: both;
}
